---
- hosts: axine
  remote_user: '{{ user_1_name }}' #root
  become: true
  vars:
    server_ip: "{{ axine_ip }}"
    cloud_folder: /home/{{ user_1_name }}/hubiC
  vars_files:
    - './secrets/users_secrets.yml'
  environment:
    DBUS_SESSION_BUS_ADDRESS: 'unix:abstract=/tmp/dbus-dlLfFBSth0,guid=1433a1d6adf840465c78abda5a291c93'

  roles:
    - { role: base_packages,     tags: base }
    - { role: nginx,             tags: ngnix, mina_deploy: true }
    - { role: ruby,              tags: ruby }
    - { role: create_users,      users: "{{ server_users }}" }
    - { role: development_user,  users: "{{ server_users }}" }
    - { role: python,            tags: python }
    - { role: dropbox,           tags: dropbox }
    - { role: hubiC,             tags: hubiC }
    - { role: chloegaster.fr,    tags: chloegaster }

    - role: nextcloud_client
      tags: nextcloud
