---
- hosts: axine-cloud
  remote_user: '{{ user_1_name }}' # Change it to 'pi' for first install
  become: true
  vars:
    server_ip: "{{ ansible_default_ipv4.address }}"
    mount_point: "/mnt/data"
    disk_uuid: 727A8D4E18B6D217
    nfs_allowed_ips: 10.100.102.0/24
  vars_files:
    - './secrets/users_secrets.yml'
    - './secrets/cloud_secrets.yml'

  roles:
    - { role: base_packages, tags: base }
    - { role: create_users, users: "{{ server_users }}", tags: users }
    - { role: development_user, users: "{{ server_users }}", tags: dev }
    - { role: nginx, mina_deploy: true, tags: nginx }
    - role: elboletaire.transmission
      transmission_user: "{{ user_1_name }}"
      transmission_password: "{{ tranmission_password }}"
      transmission_rpc_auth_required: true
      transmission_download_dir: "{{ mount_point }}/downloads"
      transmission_incomplete_dir: "{{ mount_point }}/.incomplete"
      transmission_watch_dir: "{{ mount_point }}/torrents"
      transmission_rpc_whitelist_enabled: false
      tags: transmission
    - { role: plex, tags: plex }
    - role: aalaesar.install_nextcloud
      #nextcloud_trusted_domain: cloud.alxs.fr
      nextcloud_websrv: nginx
      nextcloud_data_dir: "{{ mount_point }}/nextcloud"
      nextcloud_admin_pwd: "{{ nextcloud_admin_password }}"
      nextcloud_db_backend: pgsql
      nextcloud_db_pwd: "{{ nextcloud_db_password }}"
      tags: nextcloud
    - { role: cloud-server, tags: cloud }

# TODO:
# change /mnt/data => /media/data
# NFS disk
# RAID 1 change NFS conf
# Plex :
# le symlink m'a bien fait chier
# faut rajouter
# sudo chown -h -R plex:plex Plex\ Media\ Server
# sudo chown -h -R plex:plex path_to_real_dir
# oublier le ntfs pour le serveur... faut du ext4 !!!

# ----------------
# To do by hand
# enable UFW ansible fails to enable on strech ?!
# $ sudo ufw enable
