---
- hosts: local
  remote_user: '{{ user_1_name }}'
  become: true
  vars_files:
    - './secrets/users_secrets.yml'

  roles:
    - { role: base_packages, tags: base }
    - { role: development_user, users: "{{ desktop_user }}", tags: dev }
    - { role: nginx, mina_deploy: true, tags: nginx }
    - { role: ruby, tags: ruby }
    - { role: redis, tags: redis }
    - { role: desktop, tags: desktop }
    - { role: dropbox, tags: dropbox }
    - { role: hubiC, tags: hubiC }