---
- hosts: local
  remote_user: '{{ user_1_name }}'
  become: true
  vars_files:
    - './secrets/users_secrets.yml'

  pre_tasks:
    - name: Add Ansible Apt repository
      apt_repository:
        repo: ppa:ansible/ansible
        state: present
    - name: Upgrade Ansible
      apt:
        name: ansible
        state: latest
        update_cache: yes

  roles:
    - { role: base_packages, tags: base }
    - { role: development_user, users: "{{ desktop_user }}", tags: dev }
    - { role: nginx, mina_deploy: true, tags: nginx }
    - { role: ruby, tags: ruby }
    - { role: redis, tags: redis }
    - { role: desktop, tags: desktop }
    - { role: dropbox, tags: dropbox }
    - { role: hubiC, tags: hubiC }
    - { role: python, tags: python }

# Gnome plugins:
#  Alt Tab Workspace: https://extensions.gnome.org/extension/310/alt-tab-workspace/
#  Dash to Dock: https://micheleg.github.io/dash-to-dock/
#  Hubic Indicator: https://github.com/edouard-chevalier/hubic-indicator
#  system-monitor: https://github.com/paradoxxxzero/gnome-shell-system-monitor-applet
#  Pomodoro : https://github.com/codito/gnome-pomodoro/
