---
- name: remove buggy packages
  apt:
    name: "{{ item }}"
    state: absent
  with_items:
    - indicator-application # top bar indicator (old Unity) in conflict with the new system (Gnome)

- name: Add KeepassXC official repository
  apt_repository:
    repo: ppa:phoerious/keepassxc
    state: present
    update_cache: 'yes'
  tags:
    - keepass
    - keepass-xc

- name: install desktop packages
  apt:
    name: "{{ item }}"
    state: latest
    update_cache: yes
  with_items:
    - keepassxc
    - xdotool
    - openssh-server
    - ecryptfs-utils
    - calibre
    - vlc
    - browser-plugin-vlc
    - steam
    - openjdk-8-jre
    - gimp
    - notify-osd
    - gnome-tweak-tool
    - exfat-fuse
    - exfat-utils
    - meld
    - variety
    - xpad
    - gnome-shell-pomodoro
    - xournal
    - chrome-gnome-shell

- name: Passwordless users
  lineinfile:
    path: /etc/sudoers
    regexp: '\%sudo.+ALL=\(ALL:ALL\).+ALL'
    line: '%sudo ALL=(ALL:ALL) NOPASSWD: ALL'
    state: present

- name: PyCharm
  snap:
    name: pycharm-community
    classic: 'yes'
  tags: pycharm

- name: Slack
  snap:
    name: slack
    classic: 'yes'
  tags: slack

- name: Skype
  snap:
    name: skype
    classic: 'yes'
  tags: skype

- name: Insomnia
  snap:
    name: insomnia
    classic: 'yes'
  tags: insomnia

- name: GitKraken
  snap:
    name: gitkraken
    classic: 'yes'
  tags: gitkraken

- name: VS Code
  snap:
    name: code
    classic: 'yes'
  tags: vscode

- name: VLC
  command: sudo snap install vlc --classic
  tags:
    - vlc

- name: /!\ TEST /!\ TLP (power managment) & suggests
  apt:
    name: "{{ item }}"
    state: latest
    update_cache: yes
  with_items:
    - tlp
    - acpi-call-dkms
    - smart-notifier
  tags: tlp
