---
- name: Add KeepassXC repository
  apt_repository:
    repo: 'ppa:phoerious/keepassxc'

- name: install desktop packages
  apt:
    name: "{{ item }}"
    state: latest
    update_cache: yes
  with_items:
    - xdotool
    - keepassxc
    - openssh-server
    - ecryptfs-utils
    - calibre
    - vlc
    - browser-plugin-vlc
    - steam
    - openjdk-8-jre
    - vlc
    - rawtherapee
    - gimp
    - notify-osd
    - unity-tweak-tool
    - gnome-tweak-tool

- name: Passwordless users
  lineinfile:
    path: /etc/sudoers
    regexp: '\%sudo.+ALL=\(ALL:ALL\).+ALL'
    line: '%sudo ALL=(ALL:ALL) NOPASSWD: ALL'
    state: present