---
- name: remove buggy packages
  apt:
    name: "{{ item }}"
    state: absent
  with_items:
    - indicator-application # top bar indicator (old Unity) in conflict with the new system (Gnome)

- name: install desktop packages
  apt:
    name: "{{ item }}"
    state: latest
    update_cache: yes
  with_items:
    - xdotool
    - openssh-server
    - ecryptfs-utils
    - calibre
    - vlc
    - browser-plugin-vlc
    - steam
    - openjdk-8-jre
    - gimp
    - notify-osd
    - gnome-tweak-tool
    - exfat-fuse
    - exfat-utils
    - meld
    - variety
    - xpad
    - gnome-shell-pomodoro
    - xournal
    - chromium
    - nfs-common

- name: Passwordless users
  lineinfile:
    path: /etc/sudoers
    regexp: '\%sudo.+ALL=\(ALL:ALL\).+ALL'
    line: '%sudo ALL=(ALL:ALL) NOPASSWD: ALL'
    state: present

- name: PyCharm
  command: sudo snap install pycharm-community --classic
  tags: pycharm

- name: Slack
  command: sudo snap install slack --classic
  tags: slack

- name: Skype
  command: sudo snap install skype --classic
  tags: skype

- name: Insomnia
  command: sudo snap install insomnia --classic
  tags: insomnia

- name: GitKraken
  command: sudo snap install gitkraken --classic
  tags: gitkraken

- name: KeepassXC
  command: sudo snap install keepassxc --classic
  tags:
    - keepass
    - keepassxc

- name: VLC
  command: sudo snap install vlc --classic
  tags:
    - vlc

- name: /!\ TEST /!\ TLP (power managment) & suggests
  apt:
    name: "{{ item }}"
    state: latest
    update_cache: yes
  with_items:
    - tlp
    - acpi-call-dkms
    - smart-notifier
  tags: tlp
