---
- name: Git clone repository
  git:
    repo: https://github.com/janeczku/calibre-web.git
    dest: /var/www/calibre-{{ calibre_name }}

- name: Install requirements for root user
  become: true
  shell: pip install -r requirements.txt
  args:
    chdir: /var/www/calibre-{{ calibre_name }}

- name: Create systemctl service
  template:
    src: cps.service.j2
    dest: /etc/systemd/system/{{ calibre_name }}.service
    mode: 0644

- name: Copy Nginx conf
  template:
    src: nginx_conf.j2
    dest: /etc/nginx/sites-available/{{ calibre_name }}.conf
    mode: 0644

- name: symlink to site enabled
  file:
    src: /etc/nginx/sites-available/{{ calibre_name }}.conf
    path: /etc/nginx/sites-enabled/{{ calibre_name }}.conf
    state: link

- name: Create symlink to Sqlite database
  file:
    src: "{{ cloud_folder }}/autres/calibre-web-configs/{{ calibre_name }}-app.db"
    path: /var/www/calibre-{{ calibre_name }}/app.db
    state: link
  tags: calibre-db

- name: Install Google Analytics
  include_role:
    name: google-analytics
  vars:
    google_files_list: ["/var/www/calibre-{{ calibre_name }}/cps/templates/read.html", "/var/www/calibre-{{ calibre_name }}/cps/templates/layout.html"]
  when: google_tag_id is defined
  tags: google-analytics

- name: Add event tracking
  include: google_analytics.yml
  tags: google-analytics

# TODO manually:
# go to b.alxs.fr:8083 and change the port to the right one in the config
# go to {{ calibre_name }}.alxs.fr and set the Dropbox repository
# go to {{ calibre_name }}.alxs.fr and change the admin password

- name: Enable {{ calibre_name }} service
  systemd:
    name: "{{ calibre_name }}.service"
    enabled: yes
    state: restarted
    daemon_reload: yes
  become: true
  tags: google-analytics

- name: restart Nginx service
  service:
    name: nginx
    state: restarted
  tags: google-analytics
