---
- name: insert block in munin.conf
  blockinfile:
    path: /etc/munin/munin.conf
    block: |
      [{{ node_name }}]
          address {{ node_ip }}
          use_node_name yes
    insertafter: EOF
  notify:
    - restart apache2
    - restart munin-node
  tags:
    - munin_master_add_node
