---
- name: Ensure Apitude is installed
  apt:
    name: aptitude
    state: present

- name: Apitude Update/Upgrade
  apt:
    upgrade: yes
    update_cache: yes

- name: Apitude Update/Dist-Upgrade
  apt:
    upgrade: dist
    update_cache: yes

- name : Install base packages
  include: install_package.yml
  with_items:
    - htop
    - curl
    - cowsay
    - ruby
    - ruby-full
    - build-essential
    - libffi-dev
    - libssl-dev
    - libreadline-dev
    - zlib1g-dev
    - libsqlite3-dev
    - finger
    - sqlite3
    - ansible
    - putty
    - mosh
    - tree
    - libpq-dev
    - postgresql
    - colordiff
    - pandoc
    - lynx
    - lftp
    - whois
    - python3-tk
    - libpq5
