---
- name: Rename server
  include: hostname.yml
  tags: base

- name: Ensure Apitude is installed
  apt:
    name: aptitude
    state: present

- name: Apitude Update/Upgrade
  apt:
    upgrade: yes
    update_cache: yes

- name: Apitude Update/Dist-Upgrade
  apt:
    upgrade: dist
    update_cache: yes

- name: Install & Configure Uncomplicated Firewall (ufw)
  include: ufw.yml
  tags: ufw

- name : Install base packages
  apt:
    name: "{{ item }}"
    state: latest
  with_items:
    - htop
    - curl
    - cowsay
    - build-essential
    - libffi-dev
    - libssl-dev
    - libreadline-dev
    - zlib1g-dev
    - libsqlite3-dev
    - finger
    - sqlite3
    - ansible
    - putty
    - mosh
    - tree
    - libpq-dev
    - postgresql
    - colordiff
    - pandoc
    - lynx
    - lftp
    - whois
    - python3-tk
    - libpq5
    - telnet
