---
- name: Rename server
  include: hostname.yml

- name: Ensure Apitude is installed
  apt:
    name: aptitude
    state: present

- name: Apitude Update
  apt:
    update_cache: yes

#- name: Apitude Update/Upgrade
#  apt:
#    name: "*"
#    state: latest

- name: Apitude Update/Dist-Upgrade
  apt:
    upgrade: dist

- name: Install & Configure Uncomplicated Firewall (ufw)
  include: ufw.yml
  tags: ufw

- name : Install base packages
  apt:
    pkg:
      - software-properties-common
      - ansible
      - htop
      - curl
      - cowsay
      - build-essential
      - libffi-dev
      - libssl-dev
      - libreadline-dev
      - zlib1g-dev
      - libsqlite3-dev
      - finger
      - sqlite3
      - ansible
      - putty
      - mosh
      - tree
      - libpq-dev
      - postgresql
      - colordiff
      - pandoc
      - lynx
      - lftp
      - whois
      - python3-tk
      - libpq5
      - telnet
      - jq
    state: latest
